<div class="my-8 md:mt-16 md:h-4">
  <nav class="text-purple-600 uppercase text-sm md:text-xxs flex justify-around md:justify-end">
    <ul class="flex space-x-2 md:space-x-6">
      <li>
        <a class="block fadein hover:text-purple-100" href="/projects/<%= project.id %>/schedule">
          Schedule
        </a>
      </li>
      <li>
        <a class="block fadein hover:text-purple-100" href="/projects/<%= project.id %>/scenes">
          Scenes
        </a>
      </li>
      <li>
        <a class="block fadein hover:text-purple-100" href="/projects/<%= project.id %>/shots">
          Shots
        </a>
      </li>
      <li>
        <a class="block fadein hover:text-purple-100" href="/projects/<%= project.id %>/takes">
          Takes
        </a>
      </li>
      <li>
        <a class="block fadein hover:text-purple-100" href="/projects/<%= project.id %>/monitor">
          Monitor
        </a>
      </li>
      <li>
        <a class="block fadein hover:text-purple-100" href="/projects/<%= project.id %>/slater">
          Slater
        </a>
      </li>
    </ul>
  </nav>
</div>