<%- include('header') %>
<style>
.project-row {
  background-color: #ddd;
}
.project-row form {
  display: none;
}
.project-row:hover form {
  display: block;
}
</style>
<script>
  function confirmation (event) {
    return confirm('Are you sure?')
  }
</script>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4">
      Home
    </h1>

    <div class="mb4">
      <h2 class="f4 mv3">Projects</h2>
      <% for (let project of projects) { %>
        <div class="project-row pa2 flex justify-between">
          <a class="db" href="/projects/<%= project.id %>"><%= project.name %></a>
          <form onsubmit="return confirmation(event)" method="POST" action="/projects/<%= project.id %>">
            <input name="_method" type="hidden" value="DELETE" />
            <button>Delete</button>
          </form>
        </div>
      <% } %>
      <% if (projects.length == 0) { %>
      <span class="gray">None</span>
      <% } %>
    </div>

    <div class="mb6">
      <a href="/projects/new">Create a Project</a>
    </div>

    <div class="mb4">
      <ul>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/status">Status</a></li>
      </ul>
    </div>
  </div>
</div>
<%- include('footer') -%>
