<%- include('header') %>

<style>
html, body {
  background-color: black;
}
.aspect-ratio--board {
  padding-bottom: <%= `${ 1 / aspectRatio * 100 }%` %>;
}
.aspect-ratio--w {
  width: <%= `${ (1 / aspectRatio * 100) }%` %>;
}
.dark-gray {
  color: #393939;
}
.bg-dark-gray {
  background-color: #393939;
}
</style>

<% 
function plural (v) {
  return v > 1 ? 's' : ''
}
%> 

<!-- monitor: schedule -->
<div
  data-controller="monitor"
  class="helvetica pa0 ma0 bg-black white h-100 lh-solid flex w-100 f5 ph4 pb4" style="max-width:1428px; margin: 0 auto;"
  >
  <div class="flex flex-column w-50 h-100 pr2 pt4">

    <div class="flex justify-around items-center h4 mb2">
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Scene</div>
        <div class="f-headline ma0"><b><%= scene.scene_number %></b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Shot</div>
        <div class="f-headline ma0"><b><%= shot.shot_number %></b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Take</div>
        <div class="f-headline ma0"><b><%= takeNumber %></b></div>
      </div>
    </div>

    <div class="flex mb3">
      <div class="flex flex-column w-70 pr3">
        <div class="ttu tracked f7 dark-gray mb1">Storyboard</div>
        <img src="<%= scene.imagesPath %>/<%= shot.posterframe %>" />
      </div>
      <div class="flex flex-column <%= nextShot && prevShot ? 'justify-between' : '' %> flex-grow-1">
        <div>
          <% if (prevShot) { %>
            <div class="ttu tracked f7 dark-gray mb1">Previous Shot</div>
            <div class="aspect-ratio aspect-ratio--board">
              <div
                class="aspect-ratio--object cover"
                style="background:url(<%= prevScene.imagesPath %>/<%= prevShot.thumbnail %>) center;"
              >
            </div>
            </div>
          <% } %>
        </div>
        <div>
          <% if (nextShot) { %>
            <div class="ttu tracked f7 dark-gray pv1">Next Shot</div>
            <div class="aspect-ratio aspect-ratio--board">
              <div
                class="aspect-ratio--object cover"
                style="background:url(<%= nextScene.imagesPath %>/<%= nextShot.thumbnail %>) center;"
                >
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="flex justify-between mb3">
      <div class="flex flex-column w-70 pr3">
        <div class="ttu tracked f7 dark-gray mb1">Live Camera</div>
        <img src="<%= scene.imagesPath %>/<%= shot.posterframe %>" />
      </div>
      <div class="flex flex-column w-30">
        <% if (shot.cameraPlot) { %>
          <div class="ttu tracked f7 dark-gray mb1">Shot Diagram</div>
          <img class="db mw-100" src="<%= scene.imagesPath %>/<%= shot.cameraPlot %>" />
        <% } %>
      </div>
    </div>

    <div class="flex justify-between items-center mb3">
      <div class="lh-copy pr4 f6">
        <% for (let board of shot.boards) { %>
          <% if (board.dialogue) { %>
            <span class="ttu">Dialogue:</span> <%= board.dialogue %><br />
          <% } %>
          <% if (board.action) { %>
            <span class="ttu">Action:</span> <%= board.action %><br />
          <% } %>
          <% if (board.notes) { %>
            <span class="ttu">Notes:</span> <%= board.notes %><br />
          <% } %>
        <% } %>
      </div>
      <div class="lh-title pr4">
        <%= shot.shotType %>
      </div>
      <div class="lh-title pr4">
        <%= shot.getCameraFocalLength(scene.metadata.aspectRatio) %><br />
        <%= shot.fStop %>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7 mb1 dark-gray">Duration</div>
        <div class="f4"><%= friendlyDuration(shot.duration) %></div>
      </div>
    </div>

    <div class="flex justify-between" style="height: 125px">
      <div class="flex flex-column mb2 mr3">
        <div class="ttu tracked f7 dark-gray mb2 pre">Audio Status</div>

        <div class="flex flex-row">
          <%
          let audioStatuses = [
            { label: '1', value: 30 },
            { label: '2', value: 50 },
            { label: '3', value: 10 },
            { label: '4', value: 15 },
            { label: '5', value: 40 },
            { label: '6', value: 10, color: 'red' },
            { label: '7', value: 10, color: 'red' },
            { label: 'Director', value: 30 }
          ]
          %> 
          <% audioStatuses.forEach(({ label, value, color }, n) => { %>
            <div data-target="monitor.audioStatus<%= n %>" class="flex flex-column items-center pr2">
              <div class="flex flex-column justify-end overflow-hidden w2 h3 br3 bg-dark-gray">
                <div
                  class="w-100"
                  style="height: <%= value %>%; background-color: <%= color || '#39FF4D' %>;"
                ></div>
              </div>
              <div class="h1 f7 pt1"><%= label %></div>
            </div>
          <% }) %>
        </div>

      </div>
      <div class="flex flex-column mb2 mr3">
        <div class="ttu tracked f7 dark-gray mb2 pre">Camera Status</div>

        <div data-target="monitor.cameraStatus" class="flex flex-row relative">
          <div
            data-target="monitor.cameraStatusOverlay"
            class="absolute w-100 h-100 pa2 flex justify-center items-center tc lh-title"
            style="background-color: rgba(0, 0, 0, 0.9);"
          >
          </div>
          <%
          let cameraStatuses = [
            { label: 'Batt', value: 0 },
            { label: 'Disk', value: 0 }
          ]
          %> 
          <% cameraStatuses.forEach(({ label, value }, n) => { %>
            <div data-target="monitor.cameraStatus<%= label %>" class="flex flex-column items-center pr2">
              <div class="flex flex-column justify-end overflow-hidden w2 h3 br3 bg-dark-gray">
                <div
                  data-target="monitor.cameraStatus<%= label %>Value"
                  class="w-100 bg-gray"
                  style="height: <%= value %>%; %>;"
                ></div>
              </div>
              <div class="h1 f7 pt1"><%= label %></div>
            </div>
          <% }) %>

          <div
            class="flex flex-column justify-around f7 b ph1"
            style="padding-bottom: 1rem"
          >
            <div class="flex flex-column items-center">
              <div class="ttu">ISO</div>
              <div data-target="monitor.cameraStatusIso">---</div>
            </div>
            <div class="flex flex-column items-center">
              <div class="ttu">Iris</div>
              <div data-target="monitor.cameraStatusIris">---</div>
            </div>
          </div>

          <div
            class="flex flex-column justify-around f7 b ph1"
            style="padding-bottom: 1rem"
          >
            <div class="flex flex-column items-center">
              <div class="ttu">Focus</div>
              <div data-target="monitor.cameraStatusFocus">---</div>
            </div>
            <div class="flex flex-column items-center">
              <div class="ttu">Res</div>
              <div data-target="monitor.cameraStatusRes">---</div>
            </div>
          </div>

        </div>
      </div>
      <div class="flex flex-column items-start mb2 mr3">
        <div class="ttu tracked f7 dark-gray mb2 pre">Track Status</div>

        <div class="flex flex-row">
          <div data-target="monitor.trackStatusBatt" class="flex flex-column items-center pr2">
            <div class="flex flex-column justify-end overflow-hidden w2 h3 br3 bg-dark-gray">
              <div
                class="w-100 bg-gray"
                style="height: 90%; %>;"
              ></div>
            </div>
            <div class="h1 f7 pt1">Batt</div>
          </div>

          <div
            class="flex flex-column justify-around f7 b ph1"
            style="padding-bottom: 1rem"
          >
            <div data-target="monitor.trackStatusTracking" class="flex flex-column items-center">
              x: 1m<br />
              y: 1.3m<br />
              z: 1.5m<br />
              <br />
              r: [.3,.24,.45]
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-column w-50 h-100 pl5 pt4 relative">
    <div class="absolute" style="right: 0">
      <div class="ttu tracked f7 dark-gray">
        Shot Core Monitor / Schedule
      </div>
    </div>

    <div class="flex flex-column justify-center h4" style="margin-bottom: -1rem">
      <div class="w-100">
        <div class="f7 mb1">
          <%= format(day.start_at, 'EEEE, dd MMM yyyy') %>
        </div>
        <div class="flex justify-between">
          <div class="flex items-baseline">
            <div class="f1 fw9 ttu">
              Day <%= day.day_number %>
            </div>
            <div class="f4 dark-gray ml2">
              / <%= day.days_total %>
            </div>
          </div>
          <div class="f1 b">
            <span data-target="monitor.clock"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 pb4">
      <div class="ttu b tc mb2">
        Time
      </div>
      <div class="bg-dark-gray w-100 overflow-hidden h2 br4 mb2">
        <div class="inner h2 bg-blue" style="width:<%= timePercent %>%"></div>
      </div>
      <div class="flex justify-end items-center relative ph1">
        <div class="absolute" style="left: 50%; top: 50%; transform: translate(-50%,-50%)">
          <%= timeDistance %>
        </div>
        <span class="f4"><%= Math.sign(timeRemaining) < 0 ? '-': '+' %><%= friendlyDuration(Math.abs(timeRemaining)) %></span>
      </div>
    </div>

    <div class="w-100 pb4">
      <div class="ttu b tc mb2">
        Shots
      </div>
      <div class="bg-dark-gray w-100 overflow-hidden h2 br4 mb2">
        <div class="inner h2 bg-blue" style="width:<%= shotsPercent %>%"></div>
      </div>
      <div class="flex justify-between ph1">
        <div class="flex">
          <%= shotsComplete %> shot<%= plural(shotsComplete) %> complete
        </div>
        <div class="flex flex-row f4">
          <div class="mr2">
            <b><%= shotsRemaining %> shot<%= plural(shotsRemaining) %> left</b>
          </div>
          <div class="dark-gray nowrap">
            est. <%= friendlyDuration(shotsEstRemaining) %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-around pb4">
      <div class="flex flex-column items-center">
        <div class="tc ttu mb2 f6">Average Take Setup</div>
        <div class="relative">
          <b class="f4"><%= friendlyDuration(avgTakeSetup) %></b>
          <span class="absolute dark-gray" style="margin-left: 0.25rem; left: 100%; line-height: 1.25rem"><%= avgTakeSetupDistance %></span>
        </div>
      </div>
      <div class="flex flex-column items-center">
        <div class="tc ttu mb2 f6">Average Shot Setup</div>
        <div class="relative">
          <b class="f4"><%= friendlyDuration(avgShotSetup) %></b>
          <span class="absolute dark-gray" style="margin-left: 0.25rem; left: 100%; line-height: 1.25rem"><%= avgShotSetupDistance %></span>
        </div>
      </div>
      <div class="flex flex-column items-center">
        <div class="tc ttu mb2 f6">Average Take Count</div>
        <div class="relative">
          <b class="f4"><%= avgTakeCount %></b>
          <span class="absolute dark-gray" style="margin-left: 0.25rem; left: 100%; line-height: 1.25rem"><%= avgTakeCountDistance %></span>
        </div>
      </div>
    </div>

    <div>
      <% for (let [n, event] of remaining.events.entries()) { %>
      <% if (event.event_type == 'note') { %>

        <div class="flex justify-between items-center relative pv1 mb1">
          <div class="absolute w2 tr" style="left: -3rem;">
            <div class="ttu tracked f7 dark-gray"><b>+<%= n + 1 %></b></div>
          </div>
          <div class="tc">
            <span class="ttu tracked f6 dark-gray pr2"><%= event.event_type %></span> <%= event.description %>
          </div>
        </div>

      <% } else if (event.event_type == 'shot') { %>
        <% let scene = remaining.scenesById[event.scene_id] %>
        <% let shot = remaining.shotsById[event.shot_id] %>
        <div class="flex justify-between items-center relative pv1 mb1">
          <div class="absolute w2 tr" style="left: -3rem;">
            <div class="ttu tracked f7 dark-gray"><b>+<%= n + 1 %></b></div>
          </div>
          <div class="flex flex-column items-center pr2">
            <div class="ttu tracked f7 mb2">Scene</div>
            <div class="f4"><b><%= scene.scene_number %></b></div>
          </div>
          <div class="flex flex-column items-center pr2">
            <div class="ttu tracked f7 mb2">Shot</div>
            <div class="f4"><b><%= shot.shot_number %></b></div>
          </div>

          <img class="db h3 pr2" src="<%= scene.imagesPath %>/<%= shot.thumbnail %>" />

          <div class="f6 lh-copy pr2">
            <span class="ttu">Action:</span><br/>
            <span class="ttu">Dialogue:</span><br/>
          </div>
          <div class="f6 lh-copy pr2">
            <div class="w3">
              <%= shot.shotType || '---' %>
            </div>
          </div>
          <div class="lh-copy pr2">
            <div class="w3">
              <% if (shot.getCameraFocalLength(scene.metadata.aspectRatio) || shot.fStop) { %>
                <%= shot.getCameraFocalLength(scene.metadata.aspectRatio) %><br />
                <%= shot.fStop %>
              <% } else { %>
                ---
              <% } %>
            </div>
          </div>
          <div class="flex flex-column items-center pr2">
            <div class="ttu tracked f7 mb1">Duration</div>
            <div class="f4">
              <%= durationMsecsToString(event.duration) %>
            </div>
          </div>
          <div class="flex flex-column items-center">
            <div class="ttu tracked f7 dark-gray">-:-- +nm<!-- TODO: 1:50 +9m --></div>
          </div>
        </div>
        <% } %>

      <% } %>
    </div>
  </div>

</div>

<script src="/js/stimulus.umd.js"></script>
<script src="/js/monitor.js"></script>
</body>
</html>
