<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">

    <nav class="f5 flex justify-end">
      <ul class="list flex">
        <li class="mr3">
          <a class="link" href="/projects/<%= project.id %>/schedule">Schedule</a>
        </li>
        <li class="mr3">
          <a class="link" href="/projects/<%= project.id %>/scenes">Scenes</a>
        </li>
        <li class="mr3">
          <a class="link" href="/projects/<%= project.id %>/shots">Shots</a>
        </li>
        <li class="mr3">
          <a class="link" href="/projects/<%= project.id %>/takes">Takes</a>
        </li>
        <li class="mr3">
          <a class="link" href="/projects/<%= project.id %>/monitor">Monitor</a>
        </li>
        <li>
          <a class="link" href="/projects/<%= project.id %>/slater">Slater</a>
        </li>
      </ul>
    </nav>

    <div>

      <div class="mv6">

        <div>
          <h2 class="f-title lh-solid ma0 ttu fw4">
            Production
          </h2>
          <h2 class="f-headline lh-solid ma0 ttu">
            <%= project.name %>
          </h2>
        </div>

      </div>

      <div class="mb6">

        <div class="flex justify-between">

          <div>
            <h3 class="f4 lh-solid ma0 ttu normal">
              Schedule
            </h3>
            <h3 class="f1 lh-solid ma0">
              <a class="link" href="<%= `/projects/${project.id}/schedule` %>">
                <%= days_count  %> Day<%= plural(days_count) %>
              </a>
            </h3>
          </div>

          <div>
            <h3 class="f4 lh-solid ma0 ttu normal">
              Scene List
            </h3>
            <h3 class="f1 lh-solid ma0">
              <a class="link" href="<%= `/projects/${project.id}/scenes` %>">
                <%= scenes_count %> Scene<%= plural(scenes_count) %>
              </a>
            </h3>
          </div>

          <div>
            <h3 class="f4 lh-solid ma0 ttu normal">
              Shot List
            </h3>
            <h3 class="f1 lh-solid ma0">
              <a class="link" href="<%= `/projects/${project.id}/shots` %>">
                <%= shots_count %> Shot<%= plural(shots_count) %>
              </a>
            </h3>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
<%- include('footer') -%>
