<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <%= project.name %>
    </h1>

    <% if (scenes.length) { %>
      <h2 class="f4 mv3">Scenes</h2>
      <% for (let scene of scenes) { %>
        Scene <%= scene.scene_number %>
        <%= scene.slugline ? `: ${scene.slugline}` : '' %><br/>
      <% } %>
    <% } %>

    <h2 class="f4 mv3">Shots</h2>
    <table class="w-100">
      <thead>
        <th># <small>(in Scene)</small></th>
        <th class="w-50">Notes <small>(from 1st board)</small></th>
        <th>Boards</th>
      </thead>
      <tbody>
        <% for (let shot of shots) { %>
        <tr>
          <td>
            <a
              href="<%= `/projects/${shot.project_id}/scenes/${shot.scene_id}/shots/${shot.id}` %>"
            >
              <%= shot.shot_number %>
            </a>
          </td>
          <td>
            <%= shot.boards_json[0].notes %>
          </td>
          <td>
            <% for (let board of shot.boards_json) { %>
              <%= board.shot %>
            <% } %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <h2 class="f4 mv3">Scheduled Days</h2>
    <table>
      <% for (let event of events) { %>
      <tr>
        <td>
          <a href="/projects/1/schedules/<%= format(event.start_at, 'yyyy-MM-dd') %>">
            <%= format(event.start_at, 'd MMM, E') %>
          </a>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
</div>
<%- include('footer') -%>
