<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">

    <%- include('_nav', { project }) %>

    <div class="mt-12 md:mt-24">
      <div class="text-1xl md:text-2xl uppercase text-purple-400 leading-relaxed md:leading-none tracking-wide">
        Production
      </div>
      <a class="block text-6xl md:text-8xl font-bold uppercase leading-none -mt-2 tracking-tight text-shadow">
        <%= project.name %>
      </a>
    </div>

      <div class="mb6">

        <div class="flex justify-between">

          <div>
            <h3 class="f4 lh-solid ma0 ttu normal">
              Schedule
            </h3>
            <h3 class="f1 lh-solid ma0">
              <a class="link" href="<%= `/projects/${project.id}/schedule` %>">
                <%= days_count  %> Day<%= plural(days_count) %>
              </a>
            </h3>
          </div>

          <div>
            <h3 class="f4 lh-solid ma0 ttu normal">
              Scene List
            </h3>
            <h3 class="f1 lh-solid ma0">
              <a class="link" href="<%= `/projects/${project.id}/scenes` %>">
                <%= scenes_count %> Scene<%= plural(scenes_count) %>
              </a>
            </h3>
          </div>

          <div>
            <h3 class="f4 lh-solid ma0 ttu normal">
              Shot List
            </h3>
            <h3 class="f1 lh-solid ma0">
              <a class="link" href="<%= `/projects/${project.id}/shots` %>">
                <%= shots_count %> Shot<%= plural(shots_count) %>
              </a>
            </h3>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
<%- include('footer') -%>
