<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">

    <div class="mb4">
      <h2 class="f7 fw4 lh-solid ttu ma0">
        Production
      </h2>
      <h2 class="f5 b lh-solid ttu ma0">
        <%= project.name %>
      </h2>
    </div>

    <div class="flex w-100">

      <div class="flex flex-column items-center w-10 pr2">
        <div class="f7 ttu">
          Scene
        </div>
        <b class="f-headline lh-solid ma0">
          <%= scene.scene_number %>
        </b>
        <div>
          / <%= project_scenes_count %>
        </div>
      </div>

      <div class="flex flex-column w-60 pr2" style="position: relative;">
        <div>
          <%= scene.slugline %>
        </div>
        <div class="f2 b">
          <%= scene.description %>
        </div>
        <div>
          <%= scene.synopsis %>
        </div>

        <div class="f6 flex justify-end" style="position: absolute; bottom: 0; right:2rem">
          <ul class="list flex">
            <li class="mr3">
              <a href="#" class="link">
                Show Footage
              </a>
            </li>
            <li>
              <a href="#" class="link">
                Download Edit
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="flex flex-column w-30">
        <div class="mb1">
          <div class="f7 fw4 ttu">
            Animatic
            <div class="w-100 bg-gray" style="padding-bottom: 41%"></div>
          </div>
        </div>
        <div>
          <div class="f7 fw4 ttu">
            Rough Edit
            <div class="w-100 bg-gray" style="padding-bottom: 41%"></div>
          </div>
        </div>
      </div>

    </div>

    <h3 class="f5 lh-solid h-auto ma0 mb3"><%= shots.length %> Shot<%= plural(shots.length) %></h3>

    <style>
    </style>
    <div class="w-100">
      <table class="w-100 mb2 f7">
        <thead class="ttu">
          <tr>
            <th class="normal">
              Shot
            </th>
            <th class="normal">
              Shot Type
            </th>
            <th class="normal">
              Rigging
            </th>
            <th class="normal">
              Lens
            </th>
            <th class="normal">
              Aperature
            </th>
            <th class="normal">
              ISO
            </th>
            <th class="normal">
              Res
            </th>
            <th class="normal">
              FPS
            </th>
            <th class="normal">
              Shutter
            </th>
            <th class="normal">
              WB
            </th>
            <th class="normal">
              ND
            </th>
            <th class="normal">
              VFX
            </th>
            <th class="normal">
              Duration
            </th>
            <th class="normal">
              Takes
            </th>
          </tr>
        </thead>
        <tbody>

          <% for (let shot of shots) { %>
            <tr>
              <td class="normal">
                <a href="<%= `/projects/${project.id}/scenes/${scene.id}/shots/${shot.id}` %>" class="link">
                  <%= shot.impromptu ? 'i' : '' %><%= shot.shot_number %>
                </a>
              </td>
              <td class="normal">
                <%= shot.shotType %>
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                <%= shot.fStop %>
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                <%= durationMsecsToString(shot.duration) %>
              </td>
              <td class="normal">
                <%= takesCountByShotId[shot.id] %>
              </td>
            </tr>

            <tr class="mb2">
              <td colspan="1">
              </td>
              <td colspan="11">

                <div class="flex">
                  <% if (bestTakesByShotId[shot.id]) { %>
                    <div class="mr2" style="width:186px;height:76px">
                      <img
                        width="186"
                        height="76"
                        loading="lazy"
                        src="<%= `/uploads/projects/${project.id}/takes/${bestTakesByShotId[shot.id]}` %>"
                      />
                    </div>
                  <% } %>

                  <% if (shot.thumbnail) { %>
                    <div class="mr2" style="width:186px;height:76px">
                      <img
                        width="186"
                        height="76"
                        loading="lazy"
                        src="<%= scene.imagesPath %>/<%= shot.thumbnail %>" />
                    </div>
                  <% } %>

                  <% if (shot.cameraPlot) { %>
                    <div class="mr2" style="width:76px;height:76px">
                      <img
                        width="76"
                        height="76"
                        loading="lazy"
                        src="<%= scene.imagesPath %>/<%= shot.cameraPlot %>" />
                    </div>
                  <% } %>
                </div>

                <div class="flex w-30 justify-between">
                  <%
                  let combinedAction = shot.boards
                    .map(board => board.action)
                    .filter(Boolean)
                    .join(' ')
                  %>
                  <% if (combinedAction) { %>
                    <div title="<%= combinedAction %>">
                      <%= truncate(combinedAction) %>
                    </div>
                  <% } %>

                  <%
                  let combinedDialogue = shot.boards
                    .map(board => board.dialogue)
                    .filter(Boolean)
                    .join(' ')
                  %>
                  <% if (combinedDialogue) { %>
                    <div class="pl3" title="<%= combinedDialogue %>">
                      <i>“<%= truncate(combinedDialogue) %>”</i>
                    </div>
                  <% } %>
                </div>

              </td>
            <tr>
          <% } %>

        </tbody>
      </table>
    <div>
  </div>
</div>
<%- include('footer') -%>
