<%- include('header') %>
<div class="container px-6 md:p-8 my-6 md:my-0 text-purple-100 mx-auto">
  <%- include('_nav') %>

  <div class="py-3">
    <div class="text-xxs uppercase text-purple-600 leading-none tracking-tighter">
      Production
    </div>
    <a
      class="inline-block text-2xl font-bold text-purple-400 uppercase leading-none"
      href="<%= `/projects/${project.id}` %>"
    >
      <%= project.name %>
    </a>
  </div>

  <div class="mt-12 mb-6">
    <h3 class="text-7xl lg:text-8xl font-bold leading-none tracking-tight">
      <%= scenes.length %> Scene<%= plural(scenes.length) %>
    </h3>
  </div>

  <table class="table table-auto border-collapse w-full">
    <thead class="text-xxs leading-tight uppercase font-normal text-purple-600">
      <tr>
        <th>
          Scene
        </th>
        <th>
          Title
        </th>
        <th>
          Slugline
        </th>
        <th>
          Shots
        </th>
        <th>
          Duration
        </th>
        <th class="text-right">
          Takes
        </th>
      </tr>
    </thead>
    <tbody class="text-xs leading-tight">
      <% for (let scene of scenes) { %>
        <tr>
          <td>
            <a
              href="<%= `/projects/${project.id}/scenes/${scene.id}`%>"
            >
              <b><%= scene.scene_number %></b>
            </a>
          </td>
          <td class="max-w-sm">
            <a
              href="<%= `/projects/${project.id}/scenes/${scene.id}`%>"
            >
              <% if (scene.description) { %>
                <b class="ma0"><%= scene.description %></b>
              <% } %>
              <% if (scene.synopsis) { %>
                <span class="ma0"><%= scene.synopsis %></span>
              <% } %>
              <% if ( !(scene.description || scene.synopsis)) { %>
                ---
              <% } %>
            </a>
          </td>
          <td>
            <%= scene.slugline || '---' %>
          </td>
          <td>
            <%= scene.shots_count %>
          </td>
          <td>
            <%= durationMsecsToString(scene.shots_duration) %>
          </td>
          <td class="text-right">
            <%= scene.takes_count %> Take<%= plural(scene.takes_count) %>
          </td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td colspan="5">
            <div
              class="grid grid-cols-9 gap-3px pb-6"
              style="--aspect-ratio: <%= scene.metadata.aspectRatio %>"
            >
              <% shots.filter(shot => shot.scene_id === scene.id).forEach(shot => { %>
                <% if (shot.thumbnail) { %>
                  <a
                    class="block relative"
                    style="padding-bottom: calc(100% / (var(--aspect-ratio))"
                    href="<%= `/projects/${project.id}/scenes/${scene.id}/shots/${shot.id}` %>"
                  >
                    <img
                      class="blend-mode-overlay opacity-50 rounded-sm absolute h-full w-full object-cover"
                      loading="lazy"
                      src="<%= scene.imagesPath %>/<%= shot.thumbnail %>"
                    />
                  </a>
                <% } else { %>
                  <!-- no thumbnail, e.g.: impromptu -->
                  <div
                    class="bg-purple-900"
                    style="padding-bottom: calc(100% / (var(--aspect-ratio))">
                  </div>
                <% } %>

              <% }) %>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('footer') -%>
