<%- include('header') %>
<style>
  .aspect-ratio--board {
    <%= `padding-bottom: ${ 9 / 16 * 100 }%` %>
  }
  .section {
    padding: 1rem 1rem;
  }
  .section > div {
    padding-right: 1rem;
  }
  .schedule-day {
    padding-bottom: 4rem;
    background-color: gainsboro;
  }
  .schedule-scene {
    color: #F5F5F5;
    background-color: #285757;
  }
  .schedule-event {
    background-color: #eee;
  }
</style>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns bg-white">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4 mw8 center">
      <a href="/">Home</a> /
      <a href="/projects/<%= project.id %>"><%= project.name %></a> / <br />
      Schedule
    </h1>

    <div class="schedule mw8 center flex flex-column f6">
      <% for (let [dayId, day] of tree) { %>
        <%- include('schedule/_day', { day: daysById[dayId] }) %>
        <% for (let [parentType, parentId, children] of day) { %>
          <% if (parentType == 'scene') { %>
            <%- include('schedule/_scene', { scene: scenesById[parentId] }) %>
            <% for (let id of children) { %>
              <%- include('schedule/_shot-event', { event: eventsById[id], shot: shotsById[eventsById[id].shot_id], scene: scenesById[eventsById[id].scene_id] }) %>
            <% } %>
          <% } else if (parentType == 'event') { %>
            <%- include('schedule/_note-event', { event: { text: 'LUNCH' } }) %>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
</div>
<%- include('footer') -%>
