<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <a href="/projects/<%= project.id %>"><%= project.name %></a> / <br />
    </h1>

    <table class="w-100">
      <thead>
        <th></th>
        <th></th>
        <th>Scene</th>
        <th>Shot</th>
        <th>Details</th>
      </thead>
      <tbody>
        <% for (let [day, events] of Object.entries(eventsByDay)) { %>
          <tr>
            <td>
              <div class="mt2 mb1">
                <h4 class="f5 ma0"><%= format(new Date(day), 'd MMM, E') %></h4>
              </div>
            </td>
            <td colspan="4">
            </td>
          </tr>
          <% for (let event of events) { %>
            <% if (shotsById[event.shot_id]) { %>
              <tr>
                <td></td>
                <td>
                  Shot
                  <% if (events.indexOf(event) === events.length - 1) { %>🍸<% } %>
                </td>
                <td>
                  <%= scenesById[shotsById[event.shot_id].scene_id].scene_number %>&nbsp;
                  <%= scenesById[shotsById[event.shot_id].scene_id].slugline %>
                </td>
                <td>
                  <a href="<%= `/projects/${project.id}/scenes/${shotsById[event.shot_id].scene_id}/shots/${event.shot_id}` %>">
                    <%= shotsById[event.shot_id].shot_number %>
                  </a>
                </td>
                <td>
                  ⏰<%= format(event.start_at, 'hh:mm:ss a') %><br />
                  ⏲<%= Math.ceil(event.duration / 1000) %> s<br />
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <div class="mb2">
                    <a
                      class="db center w-100 no-underline hover-bg-light-blue h0 pa2"
                      style="border-bottom: 1px solid #aaa"
                      href=""></a>
                  </div>
                </td>
              </tr>
            <% } %>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('footer') -%>
