<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
      <br/>
      <%=
        format(startDate, 'EEEE, dd MMM yyyy')
      %>
    </h1>

    Events on this day:<br/>
    <% for (let event of events) { %>
      shot_id:<%= event.shot_id %>
      at:<%= format(event.start_at, 'EEEE, dd MMM hh:mm:ss a') %>
      duration:<%= event.duration %><br />
    <% } %>

    <h2 class="f4 mv3">Schedule</h2>
    <table>
      <tr>
        <td>
          <a href="/projects/1/scenes/1/shots/1">Shot 1</a>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <a href="/projects/1/scenes/1/shots/5/takes/1">Take #1</a>
              </td>
            </tr>
            <tr>
              <td>
                Take 2
              </td>
            </tr>
            <tr>
              <td>
                Take 3
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">New Take</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>Shot 6</td>
      </tr>
      <tr>
        <td>Shot 7</td>
      </tr>
      <tr>
        <td>Shot 8</td>
      </tr>
      <tr>
        <td>Break for Lunch</td>
      </tr>
      <tr>
        <td>Shot 1</td>
      </tr>
      <tr>
        <td>Shot 3</td>
      </tr>
      <tr>
        <td>Shot 4</td>
      </tr>
      <tr>
        <td>Shot 2</td>
      </tr>
    </table>
  </div>
</div>
<%- include('footer') -%>
