<%- include('header') %>
<div class="container px-3 md:p-8 my-6 md:my-0 text-purple-100 mx-auto">

  <%- include('_nav') %>

  <div class="py-3 mb-5">
    <div class="text-xxs uppercase text-purple-600 leading-none tracking-tighter">
      Production
    </div>
    <a
      class="inline-block text-2xl font-bold text-purple-400 uppercase leading-none"
      href="<%= `/projects/${project.id}` %>"
    >
      <%= project.name %>
    </a>
  </div>

  <div
    class="flex flex-col  max-w-screen-lg mx-auto"
    data-controller="schedule"
    data-schedule-project-id="<%= project.id %>"
    data-action="
      pointerdown->schedule#pointerDown

      dragstart->schedule#dragStart
      dragover->schedule#dragOver
      dragenter->schedule#dragOver
      dragend@window->schedule#dragEnd

      drop@window->schedule#drop
    "
  >
    <% for (let [dayId, children] of tree) { %>
      <%- include('schedule/_day', { day: daysById[dayId] }) %>
      <%
      let index = 0
      const cycle = () => index++ % 2 == 0 ? true : false
      %>
      <% for (let [type, id, rest] of children) { %>
        <% if (type == 'scene') { %>
          <%- include('schedule/_scene', {
              scene: scenesById[id],
              ...rest
            }) %>
        <% } else if (type == 'shot') { %>
          <%- include('schedule/_shot-event', {
              day: daysById[dayId],
              event: eventsById[id],
              shot: shotsById[eventsById[id].shot_id],
              scene: scenesById[eventsById[id].scene_id],

              zebra: cycle()
            }) %>
        <% } else if (type == 'note') { %>
          <%- include('schedule/_note-event', {
              event: { ...eventsById[id] },

              zebra: cycle()
            }) %>
        <% } %>
      <% } %>
      <div class="mb-3 border-t border-solid border-purple-600"></div>
    <% } %>
  </div>
</div>
<%- include('footer') -%>
