<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <a href="/projects/<%= project.id %>"><%= project.name %></a> / <br />
      <%= format(schedule.start_at, 'EEEE, dd MMM yyyy') %>
    </h1>

    <table class="w-100">
      <thead>
        <th></th>
        <th>Scene</th>
        <th>Shot #</th>
        <th>Details</th>
        <th>Takes</th>
      </thead>
      <tbody>
        <% for (let event of events) { %>
          <% if (shotsById[event.shot_id]) { %>
            <tr>
              <td>
                Shot
                <% if (events.indexOf(event) === events.length - 1) { %>🍸<% } %>
              </td>
              <td class="w-20">
                <!-- <%`/projects/${project.id}/scenes/${scenesById[shotsById[event.shot_id].scene_id].id}` %> -->

                <%= scenesById[shotsById[event.shot_id].scene_id].scene_number %>
                <small><%= scenesById[shotsById[event.shot_id].scene_id].slugline %></small>
              </td>
              <td class="w-10">
                <a href="<%= `/projects/${project.id}/scenes/${scenesById[shotsById[event.shot_id].scene_id].id}/shots/${event.shot_id}` %>">
                  <%= shotsById[event.shot_id].shot_number %>
                </a>
              </td>
              <td class="w-40">
                at: <small><%= format(event.start_at, 'hh:mm:ss a') %></small><br />
                duration: <%= Math.ceil(event.duration / 1000) %> s<br />
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <a href="/projects/1/scenes/1/shots/5/takes/1">Take #1</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">New Take</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('footer') -%>
