<%- include('header') %>
<style>
  .aspect-ratio--board {
    <%= `padding-bottom: ${ 9 / 16 * 100 }%` %>
  }
  .section {
    padding: 1rem 1rem;
  }
  .section > div {
    padding-right: 1rem;
  }
  .section > div:last-child {
    padding-right: 0;
  }
  .schedule-day {
    padding-bottom: 4rem;
    background-color: gainsboro;
  }
  .schedule-scene {
    color: #F5F5F5;
    background-color: #285757;
  }
  .schedule-event {
    background-color: #eee;
  }
  .placeholder {
    background-color:#eee;
  }
  .placeholder.highlight {
    background-color: yellow;
  }
</style>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns bg-white">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4 mw8 center">
      <a href="/">Home</a> /
      <a href="/projects/<%= project.id %>"><%= project.name %></a> / <br />
      Schedule
    </h1>

    <div
      class="schedule mw8 center flex flex-column f6"
      data-controller="schedule"
      data-schedule-project-id="<%= project.id %>"
      data-action="
        pointerdown->schedule#pointerDown

        dragstart->schedule#dragStart
        dragover->schedule#dragOver
        dragenter->schedule#dragOver
        dragend@window->schedule#dragEnd

        drop@window->schedule#drop
      "
    >
      <% for (let [dayId, children] of tree) { %>
        <%- include('schedule/_day', { day: daysById[dayId] }) %>
        <% for (let [type, id] of children) { %>
          <% if (type == 'scene') { %>
            <%- include('schedule/_scene', { scene: scenesById[id] }) %>
          <% } else if (type == 'shot') { %>
            <%- include('schedule/_shot-event', {
                day: daysById[dayId],
                event: eventsById[id],
                shot: shotsById[eventsById[id].shot_id],
                scene: scenesById[eventsById[id].scene_id]
              }) %>
          <% } else if (type == 'note') { %>
            <%- include('schedule/_note-event', { event: { ...eventsById[id], text: 'LUNCH' } }) %>
          <% } %>
        <% } %>
        <div class="schedule-divider mb3" style="border-top: 3px solid #ddd"></div>
      <% } %>
    </div>
  </div>
</div>
<%- include('footer') -%>
