<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <a href="/projects/<%= project.id %>"><%= project.name %></a> / <br />
      <%= format(schedule.start_at, 'EEEE, dd MMM yyyy') %>
    </h1>

    <table class="w-100">
      <thead>
        <th></th>
        <th>Scene</th>
        <th>Shot</th>
        <th>Details</th>
        <th>Takes</th>
      </thead>
      <tbody>
        <% for (let event of events) { %>
          <% if (shotsById[event.shot_id]) { %>
            <tr>
              <td>
                Shot
                <% if (events.indexOf(event) === events.length - 1) { %>🍸<% } %>
              </td>
              <td>
                <%= scenesById[shotsById[event.shot_id].scene_id].scene_number %>
                <small><%= scenesById[shotsById[event.shot_id].scene_id].slugline %></small>
              </td>
              <td>
                <a href="<%= `/projects/${project.id}/scenes/${shotsById[event.shot_id].scene_id}/shots/${event.shot_id}` %>">
                  <%= shotsById[event.shot_id].shot_number %>
                </a>
              </td>
              <td>
                at: <small><%= format(event.start_at, 'hh:mm:ss a') %></small><br />
                duration: <%= Math.ceil(event.duration / 1000) %> s<br />
              </td>
              <td>
                <%-
                  takesByShotById[event.shot_id]
                    ? Object.values(takesByShotById[event.shot_id]).length
                    : `<span class="gray">–</span>`
                %>
              </td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('footer') -%>
