<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">
    <% if (hasOwnProperty('flash')) { %>
      <div id="flash" class="pa3 bg-yellow">
        <%- flash %>
      </div>
    <% } %>

    <h1 class="f1">Settings</h1>

    <div style="w-100">
      <form action="" method="POST">
        <div class="flex flex-column">
          <div class="flex mb2">
            <div class="w-30 tr mr4 pt1">Z Cam Wired IP</div>
            <div class="w-70">
              <input class="pa2 w-100" type="text" name="zcam_wired_ip" value="<%= zcam_wired_ip %>" />
            </div>
          </div>
          <div class="flex mb2">
            <div class="w-30 tr mr4 pt1">Z Cam Wireless IP</div>
            <div class="w-70">
              <input class="pa2 w-100" type="text" name="zcam_wireless_ip" value="<%= zcam_wireless_ip %>" />
            </div>
          </div>
          <div class="flex mb2">
            <div class="w-30 tr mr4 pt1">Uploads Path</div>
            <div class="w-70">
              <input class="pa2 w-100" type="text"
                name="uploads_path" value="<%= uploads_path %>" 
                placeholder="<%= default_uploads_path %>" 
              />
              <div class="pt1 ph1 f6 black-60 mb2">
                Absolute path. If blank, will use default.
              </div>
            </div>
          </div>
          <div class="flex mb2">
            <div class="w-30 tr mr4 pt1">Active Project for Slater</div>
            <div class="w-70">
              <select name="active_project_id" class="w-100" style="height: 2rem">
                <option value="1" selected>multi-scene</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mt3 tr">
          <input class="lh-solid pa2" type="submit" value="Save" />
        </div>
      </form>
    </div>

  </div>
</div>
<%- include('footer') -%>
