<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">

    <div class="mb4">
      <h2 class="f7 fw4 lh-solid ttu ma0">
        Production
      </h2>
      <h2 class="f5 b lh-solid ttu ma0">
        <a href="<%= `/projects/${project.id}` %>" class="link">
          <%= project.name %>
        </a>
      </h2>
    </div>

    <div class="flex w-100 mb4">
      <div class="flex flex-column items-center w-20 pr2">
        <div class="f7 ttu">
          Scene
        </div>
        <b class="f-headline lh-solid ma0">
          <a href="<%= `/projects/${project.id}/scenes/${scene.id}` %>" class="link">
            <%= scene.scene_number %>
          </a>
        </b>
        <div>
          / <%= project_scenes_count %>
        </div>
      </div>

      <div class="flex flex-column items-center w-20 pr2">
        <div class="f7 ttu">
          Shot
        </div>
        <b class="f-headline lh-solid ma0">
          <%= shot.impromptu ? 'i' : '' %><%= shot.shot_number %>
        </b>
        <div>
          / <%= scene_shots_count %>
        </div>
      </div>

      <% if (shot.cameraPlot) { %>
        <div class="flex flex-column items-center w-20 mr4">
          <img class="db mw-100" src="<%= scene.imagesPath %>/<%= shot.cameraPlot %>" />
        </div>
      <% } %>

      <% if (shot.posterframe) { %>
        <div class="flex flex-column items-center w-40">
          <img class="db mw-100" src="<%= scene.imagesPath %>/<%= shot.posterframe %>" />
        </div>
      <% } %>
    </div>

    <div class="flex">
      <div class="w-50 mr4">

        <div class="mb3">
          <div class="f6 ttu">
            <%= scene.slugline %>
          </div>
          <% if (scene.description || scene.synopsis) { %>
            <div>
              <b><%= scene.description %></b> <%= scene.synopsis %>
            </div>
          <% } %>
        </div>

        <%
        let combinedDialogue = shot.boards
          .map(board => board.dialogue)
          .filter(Boolean)
          .join(' ')
        %>
        <% if (combinedDialogue) { %>
          <div class="mb3">
            <div class="f7 ttu">
              Dialogue
            </div>
            <div>
              <i>“<%= combinedDialogue %>”</i>
            </div>
          </div>
        <% } %>

        <%
        let combinedAction = shot.boards
          .map(board => board.action)
          .filter(Boolean)
          .join(' ')
        %>
        <% if (combinedAction) { %>
          <div class="mb3">
            <div class="f7 ttu">
              Action
            </div>
            <div>
              <%= combinedAction %>
            </div>
          </div>
        <% } %>

        <%
        let combinedNotes = shot.boards
          .map(board => board.notes)
          .filter(Boolean)
          .join(' ')
        %>
        <% if (combinedNotes) { %>
          <div class="mb3">
            <div class="f7 ttu">
              Notes
            </div>
            <div>
              <%= combinedNotes %>
            </div>
          </div>
        <% } %>

        <div class="flex w-100 justify-between">
          <div>
            <div class="f7 ttu">Lens</div>
            <div class="b">
              <%= 
                (
                  shot.boards.length &&
                  shot.boards[0].getCameraFocalLength(scene.metadata.aspectRatio)
                ) || '---'
              %>
            </div>
          </div>
          <div>
            <div class="f7 ttu">Aperature</div>
            <div class="b">f/1.4</div>
          </div>
          <div>
            <div class="f7 ttu">ISO</div>
            <div class="b">2500</div>
          </div>
          <div>
            <div class="f7 ttu">Res</div>
            <div>4K</div>
          </div>
          <div>
            <div class="f7 ttu">FPS</div>
            <div>23.98</div>
          </div>
          <div>
            <div class="f7 ttu">Aspect</div>
            <div><%= humanizedAspectRatio(scene.metadata.aspectRatio) %></div>
          </div>
        </div>
      </div>

      <div class="flex flex-column w-50">
        <% if (take) { %>
        <div class="mb4">
          <div>
            Take <%= take.take_number %>
          </div>

          <div style="--aspect-ratio:<%= scene.metadata.aspectRatio %>">
            <% let thumbnail = take.filenameForThumbnail({
              ...{ scene_number } = scene,
              ...{ shot_number, impromptu } = shot
            }) %>
            <img
              src="<%= `/uploads/projects/${take.project_id}/takes/${thumbnail}` %>"
            />
          </div>
        </div>
        <% } %>

        <div class="flex w-50 justify-between" style="margin-left: 50%">
          <div>
            Previous Shot
          </div>
          <div>
            Next Shot
          </div>
        </div>

      </div>
    </div>

    <h3 class="f5 lh-solid h-auto ma0 mb3">
      <%= takes.length %> Take<%= plural(takes.length) %>
    </h3>

    <div class="w-100">
      <table class="w-100 mb2 f7">
        <thead class="ttu">
          <tr>
            <th class="normal">
              Take
            </th>
            <th class="normal">
              Day
            </th>
            <th class="normal">
              DateTime
            </th>
            <th class="normal">
              Lens
            </th>
            <th class="normal">
              Aperature
            </th>
            <th class="normal">
              ISO
            </th>
            <th class="normal">
              Res
            </th>
            <th class="normal">
              FPS
            </th>
            <th class="normal">
              Shutter
            </th>
            <th class="normal">
              WB
            </th>
            <th class="normal">
              ND
            </th>
            <th class="normal">
              VFX
            </th>
            <th class="normal">
              Duration
            </th>
            <th class="normal">
              Notes
            </th>
            <th class="normal">
              Rating
            </th>
          </tr>
        </thead>
        <tbody>

          <% for (let take of takes) { %>
            <tr>
              <td class="normal">
                <a href="<%= `/projects/${project.id}/scenes/${scene.id}/shots/${shot.id}/takes/${take.id}` %>" class="link">
                  <%= take.take_number %>
                </a>
              </td>
              <td class="normal">
                <%
                let day = days.find(day =>
                  format(new Date(day.start_at), 'yyyyMMdd') == 
                  format(new Date(take.action_at), 'yyyyMMdd')
                )
                %>
                <%=
                  day
                    ? day.day_number
                    : format(new Date(take.action_at), 'M/d/yyyy')
                %>
              </td>
              <td class="normal">
                <%= format(new Date(take.action_at), 'M/d/yyyy HH:mm') %>
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                <span>
                  <% if (take.cut_at && take.action_at) { %>
                    <%
                    let msecs = differenceInMilliseconds(
                      new Date(take.cut_at),
                      new Date(take.action_at)
                    )
                    %>
                    <%= durationMsecsToString(msecs) %>
                  <% } %>
                </span>
              </td>
              <td class="normal">
                ---
              </td>
              <td class="normal">
                <% if (take.rating == null) { %>---<% } else { %>
                  <% for (let i = 0; i < take.rating; i++) { %>★<% } %>
                <% } %>
              </td>
            </tr>

            <tr class="mb2">
              <td colspan="1">
              </td>
              <td colspan="12">

                <div class="w-20 mt1 mb3">
                  <div style="--aspect-ratio:<%= scene.metadata.aspectRatio %>">
                    <% let thumbnail = take.filenameForThumbnail({
                      ...{ scene_number } = scene,
                      ...{ shot_number, impromptu } = shot
                    }) %>
                    <img
                      loading="lazy"
                      src="<%= `/uploads/projects/${take.project_id}/takes/${thumbnail}` %>"
                    />
                  </div>
                </div>

              </td>
            <tr>
          <% } %>

        </tbody>
      </table>
    <div>

  </div>
</div>
<%- include('footer') -%>
