<%- include('header') %>
<div class="container px-3 md:p-8 my-6 md:my-0 text-purple-100 mx-auto">
  <%- include('_nav') %>

  <div class="py-3 mb-5">
    <div class="text-xxs uppercase text-purple-600 leading-none tracking-tighter">
      Production
    </div>
    <div
      class="text-2xl font-bold text-purple-400 uppercase leading-none"
      href="<%= `/projects/${project.id}` %>"
    >
      <%= project.name %>
    </div>
  </div>

  <div class="flex w-full space-x-8">

    <div class="flex flex-col w-full">
      <div class="flex space-x-8 mb-6">
        <div class="flex flex-col items-center">
          <div class="text-sm leading-snug uppercase text-purple-600">
            Scene
          </div>
          <a
            href="<%= `/projects/${project.id}/scenes/${scene.id}` %>"
            class="text-8xl font-bold leading-none text-shadow"
          >
            <%= scene.scene_number %>
          </a>
          <div class="text-lg leading-snug text-purple-600">
            / <%= project_scenes_count %>
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div class="text-sm leading-snug uppercase text-purple-600">
            Shot
          </div>
          <b
            class="text-8xl font-bold leading-none text-shadow"
          >
            <%= shot.impromptu ? 'i' : '' %><%= shot.shot_number %>
          </b>
          <div class="text-lg leading-snug text-purple-600">
            / <%= scene_shots_count %>
          </div>
        </div>

        <% if (shot.cameraPlot) { %>
          <div
            class="flex flex-grow justify-end"
          >
            <div
              class="flex flex-col"
              style="--aspect-ratio: <%= scene.metadata.aspectRatio %>"
            >
              <div class="text-xxs leading-snug uppercase text-purple-600 mb-1">
                Shot Diagram
              </div>

              <div
                style="width: 192px; height: 192px;"
              >
                <img
                  loading="lazy"
                  src="<%= scene.imagesPath %>/<%= shot.cameraPlot %>" 
                />
              </div>
            </div>
          </div>
        <% } %>
      </div>

      <div class="space-y-6">
        <div>
          <div class="text-sm uppercase text-purple-600">
            <%= scene.slugline %>
          </div>
          <% if (scene.description || scene.synopsis) { %>
            <div class="text-lg">
              <b><%= scene.description %></b> <%= scene.synopsis %>
            </div>
          <% } %>
        </div>

        <%
        let combinedDialogue = shot.boards
          .map(board => board.dialogue)
          .filter(Boolean)
          .join(' ')
        %>
        <% if (combinedDialogue) { %>
          <div>
            <div class="text-xxs uppercase text-purple-600 leading-none">
              Dialogue
            </div>
            <div class="text-4xl">
              <b>“<%= combinedDialogue %>”</b>
            </div>
          </div>
        <% } %>

        <%
        let combinedAction = shot.boards
          .map(board => board.action)
          .filter(Boolean)
          .join(' ')
        %>
        <% if (combinedAction) { %>
          <div>
            <div class="text-xxs uppercase text-purple-600 leading-none">
              Action
            </div>
            <div class="text-lg">
              <%= combinedAction %>
            </div>
          </div>
        <% } %>

        <%
        let combinedNotes = shot.boards
          .map(board => board.notes)
          .filter(Boolean)
          .join(' ')
        %>
        <% if (combinedNotes) { %>
          <div>
            <div class="text-xxs uppercase text-purple-600 leading-none">
              Notes
            </div>
            <div class="text-lg">
              <%= combinedNotes %>
            </div>
          </div>
        <% } %>

        <div class="flex justify-between w-full text-2xl">
          <div>
            <div class="text-xxs uppercase text-purple-600">Lens</div>
            <b>
              <%= 
                (
                  shot.boards.length &&
                  shot.boards[0].getCameraFocalLength(scene.metadata.aspectRatio)
                ) || '---'
              %>
            </b>
          </div>
          <div>
            <div class="text-xxs uppercase text-purple-600">Aperature</div>
            <b>f/1.4</b>
          </div>
          <div>
            <div class="text-xxs uppercase text-purple-600">ISO</div>
            <b>2500</b>
          </div>
          <div>
            <div class="text-xxs uppercase text-purple-600">Res</div>
            <div>4K</div>
          </div>
          <div>
            <div class="text-xxs uppercase text-purple-600">FPS</div>
            <div>23.98</div>
          </div>
          <div>
            <div class="text-xxs uppercase text-purple-600">Aspect</div>
            <div><%= humanizeAspectRatio(scene.metadata.aspectRatio) %></div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex justify-end space-x-4">
      <div class="flex flex-col space-y-2">
        <% if (shot.posterframe) { %>
          <div
            class="flex flex-col"
            style="--aspect-ratio: <%= scene.metadata.aspectRatio %>"
          >
            <div class="text-xxs leading-snug uppercase text-purple-600 mb-1">
              Storyboard
            </div>

            <div
              style="width: calc(192px * var(--aspect-ratio)); height: 192px;"
            >
              <img
                loading="lazy"
                src="<%= scene.imagesPath %>/<%= shot.posterframe %>"
              />
            </div>
          </div>
        <% } %>

        <% if (take) { %>
          <div
            class="flex flex-col"
            style="--aspect-ratio: <%= scene.metadata.aspectRatio %>"
          >
            <div class="text-xxs leading-snug uppercase text-purple-600 mb-1">
              Take <%= take.take_number %>
            </div>

            <% let thumbnail = take.filenameForThumbnail({
              ...{ scene_number } = scene,
              ...{ shot_number, impromptu } = shot
            }) %>
            <div
              style="width: calc(192px * var(--aspect-ratio)); height: 192px;"
            >
              <img
                loading="lazy"
                src="<%= `/uploads/projects/${take.project_id}/takes/${thumbnail}` %>"
              />
            </div>
          </div>
        <% } %>

        <div class="space-y-8">
          <% if (previousShotInScene || nextShotInScene) { %>
            <div class="flex justify-end space-x-4 mt-2 mb-12">
              <% if (previousShotInScene) { %>
              <div style="--aspect-ratio: <%= scene.metadata.aspectRatio %>">
                <div class="text-xxs leading-none uppercase text-purple-600 mb-1">
                  Previous Shot
                </div>
                <a
                  href="<%= previousShotInScene.id %>"
                  class="block blend-mode-overlay opacity-50 rounded-sm overflow-hidden"
                  style="width: calc(54px * var(--aspect-ratio)); height: 54px;"
                >
                  <img
                    loading="lazy"
                    src="<%= scene.imagesPath %>/<%= previousShotInScene.posterframe %>"
                  />
                </a>
              </div>
              <% } %>
              <% if (nextShotInScene) { %>
              <div style="--aspect-ratio: <%= scene.metadata.aspectRatio %>">
                <div class="text-xxs leading-none uppercase text-purple-600 mb-1">
                  Next Shot
                </div>
                <a
                  href="<%= nextShotInScene.id %>"
                  class="block blend-mode-overlay opacity-50 rounded-sm overflow-hidden"
                  style="width: calc(54px * var(--aspect-ratio)); height: 54px;"
                >
                  <img
                    loading="lazy"
                    src="<%= scene.imagesPath %>/<%= nextShotInScene.posterframe %>"
                  />
                </a>
              </div>
              <% } %>
            </div>
          <% } %>

          <div class="flex justify-end mt-4">
            <button class="
              inline-block px-6 py-4
              border-2 rounded-lg

              leading-tight text-xxs font-bold

              bg-purple-900 border-white-o
              hover:bg-orange-500 hover:border-yellow-o
              fadein

              box-shadow
            ">
              Show Footage
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="w-full mb-40">
    <h3 class="text-lg leading-none font-bold mt-12 mb-6">
      <%= takes.length %> Take<%= plural(takes.length) %>
    </h3>

    <table class="table table-auto border-collapse w-full">
      <thead class="text-xxs leading-tight uppercase font-normal text-purple-600">
        <tr>
          <th>
            Take
          </th>
          <th class="text-center">
            Day
          </th>
          <th class="text-center">
            DateTime
          </th>
          <th class="text-center">
            Lens
          </th>
          <th class="text-center">
            Aperature
          </th>
          <th class="text-center">
            ISO
          </th>
          <th>
            Res
          </th>
          <th class="text-center">
            FPS
          </th>
          <th>
            Shutter
          </th>
          <th class="text-center">
            WB
          </th>
          <th class="text-center">
            ND
          </th>
          <th class="text-center">
            VFX
          </th>
          <th class="text-center">
            Duration
          </th>
          <th class="text-center">
            Notes
          </th>
          <th class="text-right">
            Rating
          </th>
        </tr>
      </thead>
      <tbody class="text-xs leading-tight">
        <% for (let take of takes) { %>
          <tr>
            <td>
              <a href="<%= `/projects/${project.id}/scenes/${scene.id}/shots/${shot.id}/takes/${take.id}` %>" class="link">
                <b><%= take.take_number %></b>
              </a>
            </td>
            <td>
              <%
              let day = days.find(day =>
                format(new Date(day.start_at), 'yyyyMMdd') == 
                format(new Date(take.action_at), 'yyyyMMdd')
              )
              %>
              <%=
                day
                  ? day.day_number
                  : format(new Date(take.action_at), 'M/d/yyyy')
              %>
            </td>
            <td class="text-center">
              <%= format(new Date(take.action_at), 'M/d/yyyy HH:mm') %>
            </td>
            <td class="text-center">
              ---
            </td>
            <td class="text-center">
              ---
            </td>
            <td class="text-center">
              ---
            </td>
            <td>
              ---
            </td>
            <td class="text-center">
              ---
            </td>
            <td>
              ---
            </td>
            <td class="text-center">
              ---
            </td>
            <td class="text-center">
              ---
            </td>
            <td class="text-center">
              ---
            </td>
            <td class="text-center">
              <% if (take.cut_at && take.action_at) { %>
                <%
                let msecs = differenceInMilliseconds(
                  new Date(take.cut_at),
                  new Date(take.action_at)
                )
                %>
                <%= durationMsecsToString(msecs) %>
              <% } %>
            </td>
            <td>
              ---
            </td>
            <td class="text-right">
              <div class="flex justify-end">
                <% if (take.rating == null) { %>
                  ---
                <% } else { %>
                  <% for (let i = 0; i < 5; i++) { %>
                    <div style="margin-left: 2px">
                      <svg
                        width="10"
                        height="9"
                        viewBox="0 0 10 9"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5.12195 0L6.58537 3L10 3.46154L7.56098 5.76923L8.04878 9L5.12195 7.38462L1.95122 9L2.43902 5.76923L0 3.46154L3.41463 3L5.12195 0Z"
                          fill="<%= i <= take.rating ? '#EC8C28' : '#321C83' %>"
                        />
                      </svg>
                    </div>
                  <% } %>
                <% } %>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="1">
            </td>
            <td colspan="12">

              <div>
                <div style="--aspect-ratio:<%= scene.metadata.aspectRatio %>">
                  <% let thumbnail = take.filenameForThumbnail({
                    ...{ scene_number } = scene,
                    ...{ shot_number, impromptu } = shot
                  }) %>
                  <img
                    loading="lazy"
                    style="width: calc(76px * var(--aspect-ratio)); height: 76px;"
                    src="<%= `/uploads/projects/${take.project_id}/takes/${thumbnail}` %>"
                  />
                </div>
              </div>

            </td>
          <tr>
        <% } %>

      </tbody>
    </table>
  </div>
</div>
<%- include('footer') -%>
