<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">

    <h1 class="f1">Status</h1>

    <div style="w-100">
      <h2 class="f2">Downloader Status</h2>
      <div class="w-100">
        <div class="f7 w-100 flex justify-between">
          <div class="w-10">Take ID</div>
          <div class="w-10">Take #</div>
          <div class="w-40">Camera File Path</div>
          <div class="w-40">Link to Download</div>
        </div>
      </div>
      <div class="w-100">
        <% for (let take of takes) { %>
          <% let scene = { scene_number: 1 } %>
          <% let shot = { shot_number: 1, impromptu: true } %>
          <div class="f7 w-100 flex justify-between">
            <a
              class="db w-10"
              href="<%= `/projects/${take.project_id}/scenes/${take.scene_id}/shots/${take.shot_id}/takes/${take.id}` %>"
            >
              <%= take.id %>
            </a>
            <div class="w-10">
              <%= take.take_number %>
            </div>
            <!--
            <div>
              <%= take.ready_at && format(Date.parse(take.ready_at), 'hh:mm:ss.SSS a') %>
            </div>
            <div>
              <%= take.action_at && format(Date.parse(take.action_at), 'hh:mm:ss.SSS a') %>
            </div>
            <div>
              <%= take.cut_at && format(Date.parse(take.cut_at), 'hh:mm:ss.SSS a') %>
            </div>
            <div>
              <%= take.rating == null ? '.' : take.rating %>
            </div>
            -->
            <div class="w-40">
              <%= take.filepath %>
            </div>
            <div class="w-40">
              <% if (take.downloaded) { %>
                <% let footage = take.filenameForFootage({
                  ...{ scene_number } = scene,
                  ...{ shot_number, impromptu } = shot
                }) %>
                <a class="link" href="/uploads/projects/<%= take.project_id %>/takes/<%= footage %>">
                  <%= footage %>
                </a>
              <% } else { %>
                <div class="red">
                  PENDING
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

  </div>
</div>
<%- include('footer') -%>
