<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">

    <div class="mb4">
      <h2 class="f7 fw4 lh-solid ttu ma0">
        Production
      </h2>
      <h2 class="f5 b lh-solid ttu ma0">
        <a href="<%= `/projects/${project.id}` %>" class="link">
          <%= project.name %>
        </a>
      </h2>
    </div>

    <div class="flex w-100 mb4">
      <div class="flex flex-column w-50">
        <div class="flex justify-around mr4 mb4">
          <div class="flex flex-column items-center pr2">
            <div class="f7 ttu">
              Scene
            </div>
            <b class="f-headline lh-solid ma0">
              <a href="<%= `/projects/${project.id}/scenes/${scene.id}` %>" class="link">
                <%= scene.scene_number %>
              </a>
            </b>
            <div>
              / <%= project_scenes_count %>
            </div>
          </div>

          <div class="flex flex-column items-center pr2">
            <div class="f7 ttu">
              Shot
            </div>
            <b class="f-headline lh-solid ma0">
              <a href="<%= `/projects/${project.id}/scenes/${scene.id}/shots/${shot.id}` %>" class="link">
                <%= shot.impromptu ? 'i' : '' %><%= shot.shot_number %>
              </a>
            </b>
            <div>
              / <%= scene_shots_count %>
            </div>
          </div>

          <div class="flex flex-column items-center pr2">
            <div class="f7 ttu">
              Take
            </div>
            <b class="f-headline lh-solid ma0">
              <%= take.take_number %>
            </b>
            <div>
              / <%= shot_takes_count %>
            </div>
          </div>
        </div>

        <div class="center pa2">
          <% if (take.rating == null) { %>No Rating<% } else { %>
            <% for (let i = 0; i < take.rating; i++) { %>★<% } %>
          <% } %>
        </div>

        <div>
          <div class="mb4">
            <div class="ttu">Notes</div>
            <div>I don’t know about this one.</div>
          </div>

          <div class="mb3">
            <div class="f6 ttu">
              <%= scene.slugline %>
            </div>
            <% if (scene.description || scene.synopsis) { %>
              <div>
                <b><%= scene.description %></b> <%= scene.synopsis %>
              </div>
            <% } %>
          </div>

          <%
          let combinedDialogue = shot.boards
            .map(board => board.dialogue)
            .filter(Boolean)
            .join(' ')
          %>
          <% if (combinedDialogue) { %>
            <div class="mb3">
              <div class="f7 ttu">
                Dialogue
              </div>
              <div class="f3">
                <%= combinedDialogue %>
              </div>
            </div>
          <% } %>

          <%
          let combinedAction = shot.boards
            .map(board => board.action)
            .filter(Boolean)
            .join(' ')
          %>
          <% if (combinedAction) { %>
            <div class="mb3">
              <div class="f7 ttu">
                Action
              </div>
              <div>
                <%= combinedAction %>
              </div>
            </div>
          <% } %>

          <%
          let combinedNotes = shot.boards
            .map(board => board.notes)
            .filter(Boolean)
            .join(' ')
          %>
          <% if (combinedNotes) { %>
            <div class="mb3">
              <div class="f7 ttu">
                Notes
              </div>
              <div>
                <%= combinedNotes %>
              </div>
            </div>
          <% } %>

          <div class="mb3">
            <div class="f7 ttu">
              Shooting Day
            </div>
            <div>
              <% if (day_number != null) { %>
              Day <%= day_number %>:
              <% } %>
              <%= format(take.action_at, 'EEEE, MMM d, yyyy') %> – <%= format(take.action_at, 'HH:mm') %>
            </div>
          </div>

        </div>
      </div>

      <div class="flex flex-column w-50">
        <% if (shot.posterframe) { %>
          <div>
            <div class="w-100">
              <div>Storyboard</div>
              <img
                loading="lazy"
                src="<%= scene.imagesPath %>/<%= shot.posterframe %>" />
            </div>
          </div>
        <% } %>

        <% let stream = take.filenameForStream({
          ...{ scene_number } = scene,
          ...{ shot_number, impromptu } = shot
        }) %>
        <% if (stream) { %>
          <div>
            <div class="w-100">
              <div>Take Preview</div>
              <video
                controls
                class="w-100"
                src="<%= `/uploads/projects/${project.id}/takes/${stream}` %>"
                type="video/quicktime"
              ></video>
            </div>
          </div>
        <% } %>

        <% if (shot.cameraPlot) { %>
          <div>
            <div class="w-50">
              <div>Shot Diagram</div>
              <img
                loading="lazy"
                src="<%= scene.imagesPath %>/<%= shot.cameraPlot %>" />
            </div>
          </div>
        <% } %>

        <div class="mt3">
          <a href="#" class="link">
            Show Footage
          </a>
        </div>
      </div>
    </div>

    <div class="w-100">
      <table class="w-100 mb2 f7">
        <thead class="ttu">
          <tr>
            <th class="normal">
              Duration
            </th>
            <th class="normal">
              Lens
            </th>
            <th class="normal">
              Aperature
            </th>
            <th class="normal">
              ISO
            </th>
            <th class="normal">
              Res
            </th>
            <th class="normal">
              FPS
            </th>
            <th class="normal">
              Aspect
            </th>
            <th class="normal">
              Shutter
            </th>
            <th class="normal">
              WB
            </th>
            <th class="normal">
              ND
            </th>
            <th class="normal">
              VFX
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="f3">
            <td class="normal   o-50">
              <b><%= durationMsecsToString(take.metadata.info.streams[0].duration * 1000) %></b>
            </td>
            <td class="normal">
              <span
                style="border-bottom: 1px dashed black"
                title="<%= take.metadata.info.format.tags["com.zcam.camera.lensType"] %>"
              >
                <%= take.metadata.info.format.tags["com.zcam.camera.lensFocalLength"] %>
              </span>
            </td>
            <td class="normal">
              <b><%= take.metadata.info.format.tags["com.zcam.camera.aperture"].replace('F', 'f/') %></b>
            </td>
            <td class="normal">
              <b><%= take.metadata.info.format.tags["com.zcam.camera.iso"] %></b>
            </td>
            <td class="normal   o-50">
              <%=
                humanizeVideoResolution(
                  take.metadata.info.streams[0].width,
                  take.metadata.info.streams[0].height
                )
              %>
            </td>
            <td class="normal">
              <%= take.metadata.info.format.tags["com.zcam.camera.projectFps"] %>
            </td>
            <td class="normal   o-50">
              <%= humanizeAspectRatio(take.metadata.info.streams[0].width / take.metadata.info.streams[0].height) %>
            </td>
            <td class="normal">
              <%= take.metadata.info.format.tags["com.zcam.camera.shutterSpeed"] %>
            </td>
            <td class="normal">
              <%= take.metadata.info.format.tags["com.zcam.camera.whiteBalanceKelvin"] %>
            </td>
            <td class="normal">
              <%= take.metadata.info.format.tags["com.zcam.camera.nd"] %>
            </td>
            <td class="normal   o-50">
              Chroma
            </td>
          </tr>
        </tbody>
      </table>
    <div>
  </div>
</div>
<%- include('footer') -%>
