<section
  class="schedule-day  section w-100 flex hide-child"

  data-controller="schedule-event"

  data-schedule-event-id="<%= day.id %>"
  data-schedule-event-rank="<%= day.rank %>"
  data-schedule-event-project-id="<%= day.project_id %>"
  data-schedule-event-event-type="<%= day.event_type %>"
>
  <div class="flex flex-column w-10">
    <div>Day</div>
    <div><%= day.day_number %> / <%= day.days_total %></div>
  </div>
  <div class="flex flex-column w-10">
    <div>Shots</div>
    <div><%= day.shot_count %></div>
  </div>
  <div class="flex flex-column w-60">
    <div class="center">
      <h3 class="f3 ma0">
        <%= day.text %>
      </h3>
    </div>
  </div>
  <div class="flex flex-column w-20">
    <% if (day.start_at) { %>
      <div>
        Start Time: <%= format(day.start_at, 'h:mm a') %>
      </div>
    <% } %>
  </div>
  <div class="flex flex-column">
    <div class="child">
      <div class="flex flex-row">
        <a class="dib link mr3" data-action="click->schedule-event#addDay" href="#">+Day</a>
        <a class="dib link mr3" data-action="click->schedule-event#addNote" href="#">+Note</a>
        <% if (day.day_number > 1) { %>
          <a class="dib link dark-red" data-action="click->schedule-event#destroyEvent" href="#">Trash</a>
        <% } %>
      </div>
    </div>
  </div>
</section>
