<section
  class="schedule-event schedule-day  section pa3 w-100 flex hide-child justify-between"

  data-controller="schedule-event"

  data-schedule-event-id="<%= day.id %>"
  data-schedule-event-rank="<%= day.rank %>"
  data-schedule-event-project-id="<%= day.project_id %>"
  data-schedule-event-event-type="<%= day.event_type %>"
  <% if (day.start_at) { %>
    data-schedule-event-start-at="<%= day.start_at.toISOString() %>"
  <% } %>

  style="height: 125px"
>
  <div class="flex flex-column w-10">
    <div>Day</div>
    <div><%= day.day_number %> / <%= day.days_total %></div>
  </div>
  <div class="flex flex-column w-10">
    <div>Shots</div>
    <div><%= day.shot_count %></div>
  </div>
  <div class="flex justify-end w-40">
    <h3 class="f3 ma0 lh-solid">
      <% if (day.day_number == 1) { %>
        <a
          class="dib bb bt-0 br-0 bl-0 b--dashed link"
          href="#"
          data-action="click->schedule-event#editDate"
        >
          <%= day.displayDate %>
        </a>
      <% } else { %>
        <%= day.displayDate %>
      <% } %>
    </h3>
  </div>
  <div class="w-20">
    <% if (day.day_number == 1) { %>
      Start: <a
        class="dib bb bt-0 br-0 bl-0 b--dashed link"
        href="#"
        data-action="click->schedule-event#editStartAt"
        >
        <% if (day.start_at) { %>
          <%= format(day.start_at, 'h:mm a') %>
        <% } else { %>
          Edit Time
        <% } %>
      </a>
    <% } %>
  </div>
  <div class="flex child w-20">
    <a class="db link mr3" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="db link <%= (day.day_number > 1) ? 'mr3' : '' %>" data-action="click->schedule-event#addNote" href="#">+Note</a>
    <% if (day.day_number > 1) { %>
      <a class="db link dark-red" data-action="click->schedule-event#destroyEvent" href="#">Trash</a>
    <% } %>
  </div>
</section>
