<section
  class="px-12 py-8 w-full flex group h-32 space-x-4"
  style="background: rgba(255, 255, 255, 0.03)"

  data-controller="schedule-event"

  data-schedule-event-id="<%= day.id %>"
  data-schedule-event-rank="<%= day.rank %>"
  data-schedule-event-project-id="<%= day.project_id %>"
  data-schedule-event-event-type="<%= day.event_type %>"
  <% if (day.start_at) { %>
    data-schedule-event-start-at="<%= day.start_at.toISOString() %>"
  <% } %>
>
  <div class="flex flex-col w-16">
    <div class="text-sm leading-snug uppercase text-purple-600">
      Day
    </div>
    <div class="flex">
      <div class="text-5xl font-bold leading-none text-shadow -mb-1 mr-1">
        <%= day.day_number %>
      </div>
      <div class="text-sm leading-none text-purple-600 mb-px self-end">
        /&nbsp;<%= day.days_total %>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center w-16">
    <div class="text-sm leading-snug uppercase text-purple-600">
      Shots
    </div>
    <b class="text-5xl font-bold leading-none text-shadow">
      <%= day.shot_count %>
    </b>
  </div>

  <div class="flex justify-end flex-1">
    <h3 class="text-3xl font-bold tracking-wide leading-snug mx-auto -mt-1">
      <% if (day.day_number == 1) { %>
        <a
          class="inline-block underline underline-dashed"
          href="#"
          data-action="click->schedule-event#editDate"
        >
          <%= format(day.start_at, 'EEEE, dd MMM yyyy') %>
        </a>
      <% } else { %>
        <%= format(day.start_at, 'EEEE, dd MMM yyyy') %>
      <% } %>
    </h3>
  </div>

  <div>
    <% if (day.day_number == 1) { %>
      <div class="text-sm leading-snug uppercase text-purple-600">
      Start
      </div>
      <a
        class="inline-block text-sm underline underline-dashed"
        href="#"
        data-action="click->schedule-event#editStartAt"
        >
        <% if (day.start_at) { %>
          <%= format(day.start_at, 'h:mm a') %>
        <% } else { %>
          Edit Time
        <% } %>
      </a>
    <% } %>
  </div>

  <div class="flex invisible group-hover:visible pl-2 space-x-2 text-sm">
    <a class="block" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="block" data-action="click->schedule-event#addNote" href="#">+Note</a>
    <% if (day.day_number > 1) { %>
      <a class="block text-red-600" data-action="click->schedule-event#destroyEvent" href="#">Trash</a>
    <% } %>
  </div>
</section>
