<section
  class="schedule-event schedule-note zebra  section pa3 w-100 flex justify-between hide-child"

  data-controller="schedule-event"

  data-schedule-event-id="<%= event.id %>"
  data-schedule-event-rank="<%= event.rank %>"
  data-schedule-event-project-id="<%= event.project_id %>"
  data-schedule-event-event-type="<%= event.event_type %>"

  data-action="pointerdown->schedule-event#pointerDown"

  style="height: 75px"
>
  <div class="flex items-center w-100">
    <div class="center">
      <%= event.event_type %>
    </div>
  </div>
  <div class="flex items-center child">
    <a class="db link mr3" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="db link mr3" data-action="click->schedule-event#addNote" href="#">+Note</a>
    <a class="db link dark-red" data-action="click->schedule-event#destroyEvent" href="#">Trash</a>
  </div>
  <div class="flex items-center child">
    <a
      class="db link f3 lh-solid relative"
      data-target="schedule-event.dragHandle schedule.dragHandle"
      style="cursor:grab; top: -0.125rem"
    >≡</a>
  </div>
</section>
