<section
  class="schedule-event  section w-100 flex justify-between hide-child"

  data-controller="schedule-event"

  data-schedule-event-id="<%= event.id %>"
  data-schedule-event-rank="<%= event.rank %>"
  data-schedule-event-project-id="<%= event.project_id %>"
  data-schedule-event-event-type="<%= event.event_type %>"

  data-action="pointerdown->schedule-event#pointerDown"
>
  <div class="flex flex-column w-100">
    <div class="center">
      <%= event.event_type %>
  <div class="flex flex-column">
    <div class="child">
      Add:
      <div class="flex flex-row">
        <a class="dib link mr3" data-action="click->schedule-event#addDay" href="#">Day</a>
        <a class="dib link" data-action="click->schedule-event#addNote" href="#">Note</a>
      </div>
    </div>
  </div>
  <div class="flex flex-column" style="padding:0">
    <div>
      <a
        class="link f2"
        style="cursor:grab"
        data-target="schedule-event.dragHandle schedule.dragHandle"
      >
      ≡
      </a>
    </div>
  </div>
</section>
