<section
  class="schedule-event schedule-note  section pa3 w-100 flex justify-between hide-child <%= zebra ? 'zebra' : '' %>"

  data-controller="schedule-event"

  data-schedule-event-id="<%= event.id %>"
  data-schedule-event-rank="<%= event.rank %>"
  data-schedule-event-project-id="<%= event.project_id %>"
  data-schedule-event-event-type="<%= event.event_type %>"

  data-action="pointerdown->schedule-event#pointerDown"

  style="height: 75px"
>
  <div
    class="flex items-center w-100"
    data-controller="schedule-note"
  >
    <form
      class="w-100 tc"
      action="/projects/<%= event.project_id %>/events/<%= event.id %>"
      method="PATCH"
      data-action="submit->schedule-note#submit"
      data-target="schedule-note.form"
      >
      <label
        class="dib bb bt-0 br-0 bl-0 b--dashed center pointer"
        data-action="click->schedule-note#edit"
        data-target="schedule-note.label"
      >
        <%= event.description %>
      </label>
      <input
        class="w-100 pa2 db"
        data-action="change->schedule-note#change blur->schedule-note#cancel"
        data-target="schedule-note.input"
        value="<%= event.description %>" />
    </form>
  </div>
  <div class="flex items-center child">
    <a class="db link mr3" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="db link mr3" data-action="click->schedule-event#addNote" href="#">+Note</a>
    <a class="db link dark-red" data-action="click->schedule-event#destroyEvent" href="#">Trash</a>
  </div>
  <div class="flex items-center child">
    <a
      class="db link f3 lh-solid relative"
      data-target="schedule-event.dragHandle schedule.dragHandle"
      style="cursor:grab; top: -0.125rem"
    >≡</a>
  </div>
</section>
