<section
  class="px-4 py-4 flex justify-between space-x-3 group h-16"
  style="
    background: rgba(255, 255, 255, <%= zebra ? '0.125' : '0.05' %>);
  "

  data-controller="schedule-event"

  data-schedule-event-id="<%= event.id %>"
  data-schedule-event-rank="<%= event.rank %>"
  data-schedule-event-project-id="<%= event.project_id %>"
  data-schedule-event-event-type="<%= event.event_type %>"

  data-action="pointerdown->schedule-event#pointerDown"
>
  <div
    class="flex items-center w-full"
    data-controller="schedule-note"
    data-schedule-note-value="<%= event.description %>"
  >
    <form
      class="w-full text-center"
      action="/projects/<%= event.project_id %>/events/<%= event.id %>"
      method="PATCH"
      data-action="submit->schedule-note#submit"
      data-target="schedule-note.form"
      >
      <label
        class="text-sm underline underline-dashed cursor-pointer"
        data-action="click->schedule-note#edit"
        data-target="schedule-note.label"
      >
        <% if (event.description && event.description != '') { %>
          <%= event.description %>
        <% } else { %>
          <span class="opacity-50">---</span>
        <% } %>
      </label>
      <input
        class="text-xs text-black w-full py-2 px-3 hidden"
        data-action="
          change->schedule-note#change
          blur->schedule-note#blur
          keyup->schedule-note#keyUp
        "
        data-target="schedule-note.input"
        value="<%= event.description %>" />
        <small
          data-target="schedule-note.hint"
          class="text-xs hidden pt-1"
        >
          Esc to cancel
        </small>
    </form>
  </div>

  <div class="flex items-center pl-2 space-x-2 text-sm invisible group-hover:visible">
    <a class="block" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="block" data-action="click->schedule-event#addNote" href="#">+Note</a>
    <a class="block text-red-600" data-action="click->schedule-event#destroyEvent" href="#">Trash</a>

    <a
      class="flex w-8 items-center self-stretch justify-center leading-none text-4xl -mt-2"
      data-target="schedule-event.dragHandle schedule.dragHandle"
      style="cursor:grab; top: -0.125rem"
    >≡</a>
  </div>
</section>
