<section
  class="schedule-event schedule-shot  section pa3 w-100 flex justify-between hide-child <%= zebra ? 'zebra' : '' %>"

  data-controller="schedule-event"

  data-schedule-event-id="<%= event.id %>"
  data-schedule-event-rank="<%= event.rank %>"
  data-schedule-event-project-id="<%= event.project_id %>"
  data-schedule-event-event-type="<%= event.event_type %>"

  data-action="pointerdown->schedule-event#pointerDown"
>
  <div class="schedule-event__scene-number flex flex-column">
    <div class="ttu tracked f7">Scene</div>
    <span class="dib center f3 lh-solid"
    ><%= scene.scene_number %></span>
  </div>
  <div class="schedule-event__shot-number flex flex-column">
    <div class="ttu tracked f7">Shot</div>
    <a class="dib center link f3 lh-solid"
        href="/projects/<%= event.project_id %>/scenes/<%= scene.scene_number %>/shots/<%= shot.id %>"
    ><%= shot.shot_number %></a>
  </div>
  <div class="schedule-event__image flex flex-column">
    <div class="aspect-ratio aspect-ratio--board" style="width:100px;">
      <img
        width="100"
        height="56"
        loading="lazy"
        class="aspect-ratio--object bg-black"
        src="<%= event.thumbnail %>" />
    </div>
  </div>
  <div class="schedule-event__notes flex flex-column w-40">
    <%
      let boards = JSON.parse(shot.boards_json)

      let combinedAction = boards
        .map(board => board.action)
        .filter(Boolean)
        .join(' ')

      let combinedDialogue = boards
        .map(board => board.dialogue)
        .filter(Boolean)
        .join(' ')
    %>

    <% if (combinedAction) { %>
      <div title="<%= combinedAction %>">
        <%= truncate(combinedAction) %>
      </div>
    <% } %>

    <% if (combinedDialogue) { %>
      <div class="pl3" title="<%= combinedDialogue %>">
        <i>“<%= truncate(combinedDialogue) %>”</i>
      </div>
    <% } %>
  </div>
  <div class="flex flex-column">
    <div
      data-controller="inline-editor"
      data-inline-editor-value="<%= shot.shotType %>"
      data-inline-editor-key="shotType"
    >
      <form
        action="/projects/<%= event.project_id %>/scenes/<%= event.scene_id %>/shots/<%= shot.id %>"
        method="PATCH"
        data-action="submit->inline-editor#submit"
        data-target="inline-editor.form"
        >
        <label
          class="dib bb bt-0 br-0 bl-0 b--dashed center pointer"
          data-action="click->inline-editor#edit"
          data-target="inline-editor.label"
        >
          <%= shot.shotType || 'Shot Type' %>
        </label>
        <input
          class="w-100 pa2 dn"
          data-action="
            change->inline-editor#change
            blur->inline-editor#blur
            keyup->inline-editor#keyUp
          "
          data-target="inline-editor.input"
          value="<%= shot.shotType %>" />
          <small data-target="inline-editor.hint" class="black-60 dn pt1">
            Esc to cancel
          </small>
      </form>
    </div>
  </div>
  <div class="flex flex-column">
    <div><%= event.sgCameraFocalLength %></div>
    <div
      class="f7"
      data-controller="inline-editor"
      data-inline-editor-value="<%= shot.fStop %>"
      data-inline-editor-key="fStop"
    >
      <form
        action="/projects/<%= event.project_id %>/scenes/<%= event.scene_id %>/shots/<%= shot.id %>"
        method="PATCH"
        data-action="submit->inline-editor#submit"
        data-target="inline-editor.form"
        >
        <label
          class="dib bb bt-0 br-0 bl-0 b--dashed center pointer"
          data-action="click->inline-editor#edit"
          data-target="inline-editor.label"
        >
          <%= shot.fStop || '𝑓-Stop' %>
        </label>
        <input
          class="w-100 pa2 dn"
          data-action="
            change->inline-editor#change
            blur->inline-editor#blur
            keyup->inline-editor#keyUp
          "
          data-target="inline-editor.input"
          value="<%= shot.fStop %>" />
          <small data-target="inline-editor.hint" class="black-60 dn pt1">
            Esc to cancel
          </small>
      </form>
    </div>
  </div>
  <div class="flex flex-column">
    <div>Dur.</div>
    <div><%= durationMsecsToString(event.duration) %></div>
  </div>
  <div class="flex flex-column">
    <div>Takes</div>
    <div><%= event.takes_count %></div>
  </div>
  <div class="flex items-center child">
    <a class="db link mr3" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="db link" data-action="click->schedule-event#addNote" href="#">+Note</a>
  </div>
  <div class="flex items-center child">
    <a
      class="db link f3 lh-solid relative"
      data-target="schedule-event.dragHandle schedule.dragHandle"
      style="cursor:grab; top: -0.125rem"
    >≡</a>
  </div>
</section>
