<section
  class="px-4 py-4 flex justify-between space-x-3 group"
  style="
    background: rgba(255, 255, 255, <%= zebra ? '0.125' : '0.05' %>);
    --aspect-ratio: <%= scene.metadata.aspectRatio %>;
  "

  data-controller="schedule-event"

  data-schedule-event-id="<%= event.id %>"
  data-schedule-event-rank="<%= event.rank %>"
  data-schedule-event-project-id="<%= event.project_id %>"
  data-schedule-event-event-type="<%= event.event_type %>"

  data-action="pointerdown->schedule-event#pointerDown"
>
  <div class="flex flex-col text-center">
    <div class="text-xs leading-snug uppercase text-purple-600 mb-1">
      Scene
    </div>
    <a
      class="inline-block text-2xl font-bold leading-none text-shadow"
      href="/projects/<%= event.project_id %>/scenes/<%= scene.scene_number %>"
    ><%= scene.scene_number %></a>
  </div>


  <div class="flex flex-col text-center">
    <div class="text-xs leading-snug uppercase text-purple-600 mb-1">
      Shot
    </div>
    <a
      class="inline-block text-2xl font-bold leading-none text-shadow"
      href="/projects/<%= event.project_id %>/scenes/<%= scene.scene_number %>/shots/<%= shot.id %>"
    ><%= shot.impromptu ? 'i' : '' %><%= shot.shot_number %></a>
  </div>

  <div>
      <div
        style="width: calc(56px * var(--aspect-ratio)); height: 56px;"
      >
        <% if (shot.thumbnailZ) { %>
          <img
            class="rounded-sm"
            loading="lazy"
            src="<%= scene.imagesPath %>/<%= shot.thumbnail %>" />
        <% } else { %>
          <div class="opacity-50 whitespace-no-wrap text-center">
            ---
          </div>
        <% } %>
      </div>
  </div>

  <div class="flex flex-col w-1/4 text-sm">
    <%
    let combinedAction = shot.boards
      .map(board => board.action)
      .filter(Boolean)
      .join(' ')
    %>
    <% if (combinedAction) { %>
      <div title="<%= combinedAction %>">
        <%= truncate(combinedAction) %>
      </div>
    <% } %>

    <%
    let combinedDialogue = shot.boards
      .map(board => board.dialogue)
      .filter(Boolean)
      .join(' ')
    %>
    <% if (combinedDialogue) { %>
      <div class="pl-3" title="<%= combinedDialogue %>">
        <i>“<%= truncate(combinedDialogue) %>”</i>
      </div>
    <% } %>
  </div>

  <div class="flex flex-col w-48">
    <div
      data-controller="inline-editor"
      data-inline-editor-value="<%= shot.shotType %>"
      data-inline-editor-key="shotType"
    >
      <form
        action="/projects/<%= event.project_id %>/scenes/<%= event.scene_id %>/shots/<%= shot.id %>"
        method="PATCH"
        data-action="submit->inline-editor#submit"
        data-target="inline-editor.form"
        >
        <label
          class="text-sm underline underline-dashed cursor-pointer"
          data-action="click->inline-editor#edit"
          data-target="inline-editor.label"
        >
          <%= shot.shotType || 'Shot Type' %>
        </label>
        <input
          class="text-xs text-black w-full py-2 px-3 hidden"
          data-action="
            change->inline-editor#change
            blur->inline-editor#blur
            keyup->inline-editor#keyUp
          "
          data-target="inline-editor.input"
          value="<%= shot.shotType %>" />
          <small
            data-target="inline-editor.hint"
            class="text-xs hidden pt-1"
          >
            Esc to cancel
          </small>
      </form>
    </div>
  </div>

  <div class="flex flex-col w-12">
    <div class="text-sm">
      <%= shot.getCameraFocalLength(scene.metadata.aspectRatio) %>
    </div>
    <div
      data-controller="inline-editor"
      data-inline-editor-value="<%= shot.fStop %>"
      data-inline-editor-key="fStop"
    >
      <form
        action="/projects/<%= event.project_id %>/scenes/<%= event.scene_id %>/shots/<%= shot.id %>"
        method="PATCH"
        data-action="submit->inline-editor#submit"
        data-target="inline-editor.form"
        >
        <label
          class="text-sm underline underline-dashed cursor-pointer"
          data-action="click->inline-editor#edit"
          data-target="inline-editor.label"
        >
          <%= shot.fStop || '𝑓-Stop' %>
        </label>
        <input
          class="text-xs text-black w-full py-2 px-3 hidden"
          data-action="
            change->inline-editor#change
            blur->inline-editor#blur
            keyup->inline-editor#keyUp
          "
          data-target="inline-editor.input"
          value="<%= shot.fStop %>" />
          <small
            data-target="inline-editor.hint"
            class="text-xs hidden pt-1"
          >
            Esc to cancel
          </small>
      </form>
    </div>
  </div>

  <div class="flex flex-col items-center w-16">
    <div class="text-xs leading-snug uppercase text-purple-600 mb-1">
      Dur.
    </div>
    <div class="text-2xl font-bold leading-none text-shadow">
      <%= durationMsecsToString(event.duration) %>
    </div>
  </div>

  <div class="flex flex-col items-center w-16">
    <div class="text-xs leading-snug uppercase text-purple-600 mb-1">
      Takes
    </div>
    <div class="text-2xl font-bold leading-none text-shadow">
      <%= event.takes_count %>
    </div>
  </div>

  <div class="flex items-center pl-2 space-x-2 text-sm invisible group-hover:visible">
    <a class="block" data-action="click->schedule-event#addDay" href="#">+Day</a>
    <a class="block" data-action="click->schedule-event#addNote" href="#">+Note</a>

    <a
      class="flex w-8 items-center self-stretch justify-center leading-none text-4xl -mt-2"
      data-target="schedule-event.dragHandle schedule.dragHandle"
      style="cursor:grab; top: -0.125rem"
    >≡</a>
  </div>
</section>
